#root{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
}

#backgroundStartPage {
    background-image: url("images/background2.jpg");
    width: 100%;
    height: 700px;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#navMenuDiv h1{
    background-color: beige;
    margin: 0;
}

#footerMenu h1 {
    background-color: beige;
    margin: 0;
}

#productsContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.product {
    display: flex;
}

.productImg {
    height: 250px;
    width: 250px;
}

.btn{
    margin-bottom: 20px;
    background-color:#DDDDDD;
    width: 300px;
    height: 40px;
    font-size: 25px;
    padding: 0;
}

#calDiv{
    display: flex;
    justify-content: center;
}

#bookingForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {

    margin-bottom: 20px;
}